@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')

$grey-light: #E7E7E7
$grey-light-2: #D4D4D4
$grey-dark: #343434
$default-fontcolor: #081555
$blue: rgba(0,144, 255, .8)

html
  // This defines what 1rem is
  font-size: 62.5%      // 1 rem = 10px; 10px/16px = 62.5%

body
  box-sizing: border-box
  margin: 0
  padding: 0

.container
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: $grey-light

h1
  text-align: center
  font-size: 3rem
  line-height: 3.5rem
  text-decoration: underline

ul
  list-style: none
  counter-reset: my-awesome-counter
  padding: 0
  margin: 0

  & li
    counter-increment: my-awesome-counter
    padding: 2rem
    font-size: 2rem
    border: 1px solid $grey-dark
    box-shadow: 1px 2px rgba(white, .7)

    &::before
      content: counter(my-awesome-counter) ". "
      color: red
      font-weight: bold

    &:nth-child(odd)
      background-color: $grey-light-2

    a, a:visited
      color: $default-fontcolor
      text-decoration: none
      font-weight: bold
