@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')

$grey-light: #E7E7E7
$grey-light-2: #D4D4D4
$grey-dark: #343434
$default-fontcolor: #081555
$blue: rgba(0,144, 255, .8)

html
  // This defines what 1rem is
  font-size: 62.5%      // 1 rem = 10px; 10px/16px = 62.5%

body
  box-sizing: border-box
  margin: 20px auto
  padding: 0
  max-width: 1200px
  min-height: 100vh
  position: relative
  display: grid
  /*noinspection CssInvalidPropertyValue*/
  grid-template-rows: min-content min-content

h1
  text-align: center
  font-size: 3rem
  line-height: 3.5rem
  text-decoration: underline
  padding: 20px

ul
  list-style: none
  counter-reset: my-awesome-counter
  padding: 30px
  margin: auto 0
  height: 100%
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr))
  grid-template-rows: repeat(10, 1fr)
  justify-content: center


  //noinspection CssOverwrittenProperties
  @media only screen and (max-width: 1000px)
    /*noinspection CssOverwrittenProperties*/
    grid-template-columns: minmax(-webkit-min-content, 500px)
    /*noinspection CssOverwrittenProperties*/
    grid-template-columns: minmax(min-content, 500px)

  & li
    counter-increment: my-awesome-counter
    padding: 2rem
    font-size: 2rem
    border: 1px solid $grey-dark
    box-shadow: 1px 2px rgba(white, .7)

    @media only screen and (max-width: 1000px)
      &:nth-child(odd)
        background-color: $grey-light-2

    @media only screen and (min-width: 1001px)
      &:nth-child(4n-1), &:nth-child(4n-2)
        background-color: $grey-light-2

    &::before
      content: counter(my-awesome-counter) ". "
      color: red
      font-weight: bold

    a, a:visited
      color: $default-fontcolor
      text-decoration: none
      font-weight: bold

    &.unfinished a
      color: darkgrey

    &.working
      background-color: rgba(95,169,85,0.46)

    &.working a
      color: orangered